<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutotoolsTests">

  <test name="isThisExtention">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
      <methods>
        <include name="isThisExtensionFileTest"/>
      </methods>
      </class>
    </classes>
  </test>

  <test name="getRelativePathTest">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
        <methods>
          <include name="getRelativePathTest"/>
        </methods>
      </class>
    </classes>
  </test>

  <test name="RuntestVersionTest">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
        <methods>
          <include name="findVersionTest"/>
        </methods>
      </class>
    </classes>
  </test>

  <test name="stringArrayToStringTest">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
        <methods>
          <include name="stringArrayToStringTest"/>
        </methods>
      </class>
    </classes>
  </test>

  <test name="getDejagnuParametersTest">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
        <methods>
          <include name="getDejagnuParametersTest"/>
        </methods>
      </class>
    </classes>
  </test>
  <test name="DejagnuXmlParsingTest">
    <classes>
      <class name="jetbrains.buildServer.autotools.agent.AutotoolsAgentTest">
        <methods>
          <include name="DejagnuXmlPasringTest"/>
        </methods>
      </class>
    </classes>
  </test>


</suite>